@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F0F2F5;
  --foreground: #111B21;
  --primary: #008069;
  --primary-light: #DCF8C6;
  --secondary: #E1E1E1;
  --accent: #25D366;
  --muted: #67717A;
  --sidebar: #FFFFFF;
  --highlight: #E9F5F2;
  --danger: #EA4335;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


a {
  color: var(--accent);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}